## Machine Learning CA1 | Louis Wilkie | sba22529

### Introduction

#### Library Imports

In [1]:
import pandas as pd

import numpy as np
import matplotlib as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

#### Dataset Load

In [2]:
# dataset load
df = pd.read_csv("Invistico_Airline.csv")

### Data Exploration

In [3]:
df.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0

In [4]:
df.shape

(129880, 23)

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,129880.0,39.427957,15.119360,7.0,27.0,40.0,51.0,85.0
Flight Distance,129880.0,1981.409055,1027.115606,50.0,1359.0,1925.0,2544.0,6951.0
Seat comfort,129880.0,2.838597,1.392983,0.0,2.0,3.0,4.0,5.0
Departure/Arrival time convenient,129880.0,2.990645,1.527224,0.0,2.0,3.0,4.0,5.0
Food and drink,129880.0,2.851994,1.443729,0.0,2.0,3.0,4.0,5.0
Gate location,129880.0,2.990422,1.305970,0.0,2.0,3.0,4.0,5.0
Inflight wifi service,129880.0,3.249130,1.318818,0.0,2.0,3.0,4.0,5.0
Inflight entertainment,129880.0,3.383477,1.346059,0.0,2.0,4.0,4.0,5.0
Online support,129880.0,3.519703,1.306511,0.0,3.0,4.0,5.0,5.0
Ease of Online booking,129880.0,3.472105,1.305560,0.0,2.0,4.0,5.0,5.0
On-board service,129880.0,3.465075,1.270836,0.0,3.0,4.0,4.0,5.0
Leg room service,129880.0,3.485902,1.292226,0.0,2.0,4.0,5.0,5.0
Baggage handling,129880.0,3.695673,1.156483,1.0,3.0,4.0,5.0,5.0
Checkin service,129880.0,3.340807,1.260582,0.0,3.0,3.0,4.0,5.0
Cleanliness,129880.0,3.705759,1.151774,0.0,3.0,4.0,5.0,5.0
Online boarding,129880.0,3.352587,1.298715,0.0,2.0,4.0,4.0,5.0
Departure Delay in Minutes,129880.0,14.713713,38.071126,0.0,0.0,0.0,12.0,1592.0
Arrival Delay in Minutes,129487.0,15.091129,38.465650,0.0,0.0,0.0,13.0,1584.0

In [6]:
df.describe(include="object").T

                 count unique              top    freq
satisfaction    129880      2        satisfied   71087
Gender          129880      2           Female   65899
Customer Type   129880      2   Loyal Customer  106100
Type of Travel  129880      2  Business travel   89693
Class           129880      3         Business   62160

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       129880 non-null  object
 1   Gender                             129880 non-null  object
 2   Customer Type                      129880 non-null  object
 3   Age                                129880 non-null  int64
 4   Type of Travel                     129880 non-null  object
 5   Class                              129880 non-null  object
 6   Flight Distance                    129880 non-null  int64
 7   Seat comfort                       129880 non-null  int64
 8   Departure/Arrival time convenient  129880 non-null  int64
 9   Food and drink                     129880 non-null  int64
 10  Gate location                      129880 non-null  int64
 11  Inflight wifi service              129880 non-null  int64
 12  Inflight entertainment             129880 non-null  int64
 13  Online support                     129880 non-null  int64
 14  Ease of Online booking             129880 non-null  int64
 15  On-board service                   129880 non-null  int64
 16  Leg room service                   129880 non-null  int64
 17  Baggage handling                   129880 non-null  int64
 18  Checkin service                    129880 non-null  int64
 19  Cleanliness                        129880 non-null  int64
 20  Online boarding                    129880 non-null  int64
 21  Departure Delay in Minutes         129880 non-null  int64
 22  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(17), object(5)
memory usage: 22.8+ MB

In [8]:
df.isnull().sum()

satisfaction                           0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
dtype: int64

In [9]:
# percentage of missing values
df["Arrival Delay in Minutes"].isnull().sum()/len(df) * 100

0.3025870033877425

In [1]:
plt.figure(figsize=(8, 6))
sns.countplot(x='satisfaction', data=df, palette='viridis')
plt.title('Customer Satisfaction Distribution')
plt.xlabel('Satisfaction Level')
plt.ylabel('Count')
plt.show()

NameError: name 'plt' is not defined

In [10]:
# target variable
df.satisfaction.value_counts()

satisfaction
satisfied       71087
dissatisfied    58793
Name: count, dtype: int64

### Data Preparation

#### Null values

In [11]:
#df = df.dropna(axis=1)

#### Renaming columns

In [12]:
# renaming rules
df.rename(columns=lambda x: x.replace(' service', ''), inplace=True)
df.rename(columns=lambda x: x.replace('Inflight ', ''), inplace=True)
df.rename(columns=lambda x: x.replace('in Minutes', ''), inplace=True)

# renaming single columns
df.rename(columns={'Ease_of_Online_booking': 'online_booking'}, inplace=True)
df.rename(columns={'Food_and_drink': 'food'}, inplace=True)
df.rename(columns={'Departure/Arrival time convenient': 'flight_schedule'}, inplace=True)
df.rename(columns={'Type_of_Travel': 'type'}, inplace=True)

# underscores
df.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

# making all lowercase
df.columns = df.columns.str.lower()

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,129880.0,39.427957,15.119360,7.0,27.0,40.0,51.0,85.0
flight_distance,129880.0,1981.409055,1027.115606,50.0,1359.0,1925.0,2544.0,6951.0
seat_comfort,129880.0,2.838597,1.392983,0.0,2.0,3.0,4.0,5.0
flight_schedule,129880.0,2.990645,1.527224,0.0,2.0,3.0,4.0,5.0
food_and_drink,129880.0,2.851994,1.443729,0.0,2.0,3.0,4.0,5.0
gate_location,129880.0,2.990422,1.305970,0.0,2.0,3.0,4.0,5.0
wifi,129880.0,3.249130,1.318818,0.0,2.0,3.0,4.0,5.0
entertainment,129880.0,3.383477,1.346059,0.0,2.0,4.0,4.0,5.0
online_support,129880.0,3.519703,1.306511,0.0,3.0,4.0,5.0,5.0
ease_of_online_booking,129880.0,3.472105,1.305560,0.0,2.0,4.0,5.0,5.0
on-board,129880.0,3.465075,1.270836,0.0,3.0,4.0,4.0,5.0
leg_room,129880.0,3.485902,1.292226,0.0,2.0,4.0,5.0,5.0
baggage_handling,129880.0,3.695673,1.156483,1.0,3.0,4.0,5.0,5.0
checkin,129880.0,3.340807,1.260582,0.0,3.0,3.0,4.0,5.0
cleanliness,129880.0,3.705759,1.151774,0.0,3.0,4.0,5.0,5.0
online_boarding,129880.0,3.352587,1.298715,0.0,2.0,4.0,4.0,5.0
departure_delay_,129880.0,14.713713,38.071126,0.0,0.0,0.0,12.0,1592.0
arrival_delay_,129487.0,15.091129,38.465650,0.0,0.0,0.0,13.0,1584.0